.robot-container {
  margin: auto;
}

.H-Stack {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.V-Stack {
  display: flex;
  flex-direction: column;
}

/* MARK: Face 
*/
.robot-face-shape {
  width: 400px;
  height: 400px;

  border: 3px solid gray;
  border-radius: 100px 100px 25px 25px;
}

/* MARK: Eyes 
*/
.robot-eye-left {
  width: 90px;
  height: 90px;
  margin: 50px;

  border: 3px solid;
  border-radius: 50%;

  background-image: url("https://www.shutterstock.com/image-illustration/future-technology-red-silver-eye-260nw-489911533.jpg");
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}

.robot-eye-right {
  width: 90px;
  height: 90px;
  margin: 50px;

  border: 3px solid;
  border-radius: 50%;

  background-image: url("https://www.shutterstock.com/image-vector/abstract-digital-eye-data-network-260nw-2300505981.jpg");
  background-size: 170%;
  background-position: center;
  background-repeat: no-repeat;
}
/* MARK: Ears 
*/
.robot-ear-left {
  position: relative;
  right: 70px;
  bottom: 250px;
  transform: rotate(90deg);
}

.robot-ear-right {
  position: relative;
  left: 370px;
  bottom: 280px;

  transform: rotate(270deg);
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 20px;
  width: 100px;
}

.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  /* background: gray; */
  transform: skew(0deg, 6deg);

  background: linear-gradient(0.25turn, #d72483, #3f87a6);
}
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: gray;
  transform: skew(0deg, -6deg);

  background: linear-gradient(0.8turn, #d72483, #3f87a6);
}
/*----------------------------------------------------------------*/

/* MARK: Nose 
*/

#triangle-up {
  width: 20%;
  height: 20%;
  margin: auto;
  margin-bottom: 50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid rgba(179, 109, 169, 0.215);
}

/* MARK: Mouth 
*/
.robot-mouth {
  width: 250px;
  height: 65px;
  margin: auto;
  border: 5px solid black;
  border-radius: 10% / 50%;
  /* background-color: black; */
}

.row {
  display: flex;
  flex-direction: row;
}

.robot-tooth {
  width: 30px;
  height: 30px;
  border: 1px solid #d72483;
  border-top: none;
  position: static;
  z-index: -1;
}

#top-left-tooth {
  border-left: none;
  border-top-left-radius: 50%;

  border-top: 1px solid black;
}

#top-right-tooth {
  border-right: none;
  border-top-right-radius: 50%;

  border-top: 1px solid black;
}

#bottom-left-tooth {
  border-left: none;
  border-bottom: none;
  border-bottom-left-radius: 50%;
}

#bottom-right-tooth {
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 50%;
}

/* MARK: Antenna  
*/

.antenna1 {
  width: 5px;
  height: 50px;
  margin: auto;
  background-color: gray;

  position: relative;
  bottom: 510px;
}

.antenna2 {
  width: 80px;
  height: 50px;
  margin: auto;
  border: 5px solid #d72483;
  border-radius: 50%;
  background-color: blueviolet;

  position: relative;
  bottom: 600px;
}
